:root {
    /*Application Styles Variables:*/
        --bgclr:    #000000;
        --fntclr:   #000000;
        --hvrclr:   #000000;
        --imgbkgclr:#000000;
        --brdclr:   #000000;
}

* {
    /*Box model:*/
        box-sizing: border-box;
        margin:     0;
        padding:    0;
        --vhsize:   100vh;
}

body {
    /*Background:*/
    background-color: var(--bgclr);

    /*Box model:*/
        height:     100vh;
        width:      100vw;

    /*Display:*/
        display:            flex;
        flex-direction:     column;
        align-items:        center;

    /*Font:*/
        color:          var(--fntclr);
        font-family:    'Ubuntu', sans-serif;
}

header {
    /*Box model:*/
        height: 60px;
        width:  90%;

    /*Display:*/
        display:            flex;
        align-items:        center;
        justify-content:    flex-start;
        column-gap:         4px;
}

main {
    /*Box model:*/
        height: 100%;
        width:  90%;

    /*Display:*/
        display:            flex;
        flex-direction:     column;
        align-items:        center;
        justify-content:    center;
        row-gap:            32px;
}

footer {
    /*Box model:*/
        height: 60px;
        width:  90%;

    /*Display:*/
        display:            flex;
        align-items:        center;
        justify-content:    flex-end;
        column-gap:         4px;
}

#clock_cont {
    /*Display:*/
        display:        flex;
        flex-direction: column;
        align-items:    center;
}

#clock {
    /*Font:*/
        font-size:      80px;
        font-weight:    400;
        text-align:     center;
}

#date {
    /*Font:*/
        font-size:      40px;
        font-weight:    300;
        text-align:     center;
}

#timerCont {
    /*Box model:*/
        border:         solid 1px var(--fntclr);
        border-radius:  6px;
        padding:        12px;

    /*Display:*/
        display:        none;       
}

#workingTimerTitle {
    /*Font:*/
        font-size:      20px;
        font-weight:    600;
}

#workingTimeCont {
    /*Display:*/
        display:        flex;
        align-items:    center;
        column-gap:     10px;
}

#workingTimeLabel {
    /*Font:*/
        font-size:      16px;
        font-weight:    300;
}

#workingTimeInp {
    /*Box model:*/
        background-color:   var(--bgclr);
        border: solid 1px   var(--fntclr);
        border-radius:      6px;
        height:             36px;
        width:              50px;
    
    /*Font:*/
        color:          var(--fntclr);
        font-size:      20px;
        font-weight:    300;
        text-align:     center;
}

#workingTimeBtn {
    /*Box model:*/
        background-color:   var(--fntclr);
        border: solid 1px   var(--bgclr);
        border-radius:      25px;
        height:             50px;
        width:              50px;

    /*Font:*/
        color:          var(--bgclr);
        font-size:      16px;
        font-weight:    600;
        text-align:     center;
}

#workingTimeBtn:hover, #stopWorkingTimeBtn:hover {
    /*Box model:*/
        cursor:     pointer;
        border:     none;

    /*Font:*/
        font-size:  18px;
}

#stopWorkingTimeBtn {
    /*Box model:*/
        background-color:   var(--hvrclr);
        border: solid 1px   var(--bgclr);
        border-radius:      25px;
        height:             50px;
        width:              50px;
    
    /*Display:*/
        display:  none;

    /*Font:*/
        color:          var(--bgclr);
        font-size:      16px;
        font-weight:    600;
        text-align:     center;
}

#workingTimerResultCont {
    /*Display:*/
        display:        flex;
        flex-direction: column;
        align-items:    center;
}

#workingTimerResult {
    /*Display:*/
        display:        none;

    /*Font:*/
        font-size:      42px;
        font-weight:    400;
        text-align:     center;
}

#pwrd {
    /*Font:*/
        font-size:      14px;
        font-weight:    400;
}

.link {
    /*Font:*/
        color:              var(--fntclr);
        font-weight:        600;
        text-decoration:    none;
}

.link:hover {
    /*Font:*/
        color: var(--hvrclr);
}

.imgLink {
    /*Box model:*/
        background-color:   var(--imgbkgclr);
        border:             1px solid var(--brdclr);
        border-radius:      1px;
        height:             22px;
        padding:            2px;
}   

.imgLink:hover {
    /*Box model:*/
        background-color:   var(--hvrclr);
        cursor:             pointer;
        border:             none;
}

.themebtn {
    /*Box model:*/
        border-style:   solid 2px var(--hvrclr);
        border-radius:  0;
        text-align:     center;
        height:         22px;
        width:          22px;
        padding:        3px;

    /*Font:*/
        font-size:      16;
        font-weight:    600;
        
}

.themebtn:hover {
    /*Box model:*/
        height:     24px;
        width:      24px;
        cursor:     pointer;
}

#themeTitle {
    /*Font:*/
        font-weight: 300;
}